
header {
    background: #26333c;
    padding: 20px 0;
    
}

.container {
    width: 50%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.logo {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: #3398db;
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 16px;
    margin-top: 5px;
}

.about-section {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.about-section h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    background: #d1d1d1;
    border-radius: 50%;
    background-image: url("mup.jpg.jpg");
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-content p {
    font-size: 15px;
    line-height: 1.6;
    max-width: 700px;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

#line{
    border-bottom: 3px solid #5fa8d3;
}

#blue{
    color: #26333c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




body{ margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
    width: 100%;
    margin: 14px auto;
}


.first-10{
    color: #2b374c;
    border-bottom: 3.5px solid rgba(34, 90, 163, 0.782);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 10px;
    padding-bottom: 10px;

}
.first-1{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    margin-left: 20px;
    
}
.first-11{ 
    background: #3fa0e0;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.first-12{
    color: #2b374c;
    border-bottom: 3.5px solid rgba(34, 90, 163, 0.782);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 60px;
    padding-bottom: 10px;

}

.first-13{ 
   
    border: 2px solid rgba(189, 189, 189, 0.673);
    border-radius: 4%;
    padding: 13px;
    background: #f5f3f4;


}

.first-130{
    display: flex;
    gap:1.5%;
    width: 90%;
    margin-left: 20px;
}


.first-14{
    background: #e9f0f3;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #d1d9dd;
    width: 88%;
    max-width: 14px auto;
    margin-left: 20px;
    
}
  

footer{
     background: #1f2f3d;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 14px;  
    
   

}
.first-00{
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    



}






















































